:root {
    --main-width: min(70%, 1024px);
    --main-padding: 50px 0px 50px 0px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.nav {
    background-color: #0d1724;
}

.nav-container {
    width: var(--main-width);
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    margin: 0 auto;
}

.logo {
    display: flex;
    height: 100px;
    width: 120px;
    color: #F9FAF8;
    font-size: 2rem;
    font-weight: bold;
}

.logo h1 {
    align-self: center;
    margin: 0px;
    padding: 0px;
}

.links {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    max-width: 50%;
}

.links a {
    color: #F9FAF8;
    text-decoration: none;
    padding: 10px 20px;
}

.links a:hover {
    align-self: center;
    color: white;
    background-color: #1F2937;
    border-radius: 10px;
}

.hero {
    background-color: #1F2937;
}

.hero-container {
    width: var(--main-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin: 0 auto;
    padding: var(--main-padding);
}

.awesome-container {
    display: flex;
    flex-direction: column;
}

.awesome-title {
    font-size: 3rem;
    font-weight: bolder;
    color: #F9FAF8;
}

.awesome-text{
    color: #F9FAF8;
}

.awesome-button {
    background-color: #3882F6;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    align-self: flex-start;
    border-style: none;
    margin-top: 10px;
}

.awesome-button:hover {
    background-color: orangered;
    color: #0d1724;
}

.hero-img {
    width: min(50%, 500px);
}

.card-info-container {
    width: var(--main-width);
    display: flex;
    align-self: stretch;
    flex-direction: column;
    padding: var(--main-padding);
    margin: 0 auto;
}

.info-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 50px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.card-wrap {
    display: flex;
    flex-direction: column;
    max-width: 160px;
    flex: 0 0 auto;
}

.card {
    display: flex;
    justify-content: center;
    border: 2px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card img {
    border-radius: 10px;
    width: 150px;
    height: 175px;
}

.card-text {
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
}

.quote-wrap {
    width: var(--main-width);
    display: flex;
    padding: var(--main-padding);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.quote{
    font-size: 2rem;
    font-style: italic;
    color: #1F2937;
}

.author{
    align-self: flex-end;
    font-weight: bold;
}

.action {
    width: var(--main-width);
    margin: 0 auto;
    padding: var(--main-padding);
}

.action-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: #3882F6;
    height: 100px;
    border-radius: 5px;
}

.action-text {
    display: flex;
    flex-direction: column;
}

.action-text h2 {
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    color:#F9FAF8;
}

.action-text p {
    margin: 0px;
    padding: 0px;
    color:#F9FAF8;
}

.action-button {
    background-color: #3882F6;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    border: 2px solid #F9FAF8;
}

.action-button:hover{
    background-color: #0d1724;
}

.footer {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    color: #F9FAF8;
}